* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}

@media print {
    @page {
        size: 8.5in 11in;
        scale: 100%;
    }
    .break { break-after:page }
    .hidden { display: none; }
    .paper { margin: auto;}
    .page { width: min-content; height: min-content;}
}

.header {
    width: 8.25in;
    height: 4rem;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
#card-file {
    display: none;
}
.upload-button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 500;
    outline: 1px solid #000;
    cursor: pointer;
    background-color: lightgray;
    /* border-radius: 1rem; */
}
.upload-button:hover {
    background-color: #fff;
    outline: 2px solid #000;
}
p {
    font-size: 1.5rem;
    font-weight: 600;
    /* border: 2px solid green; */
}
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
      
.page {
    margin: auto;
    /* width: 8.5in; */
    width: min-content;
    height: min-content;
    /* border: 1px solid red; */
    /* background-color: red; */
}
.paper {
    width: min-content;
    height: min-content;
    /* border: 1px solid green; */
    margin: auto;
    padding: 0;
    display: grid;
    /* justify-content: start; */
    grid-template-columns: 2.5in 2.5in 2.5in;
    grid-template-rows: 3.5in;
    grid-auto-rows: 3.5in;
    /* gap: .05in; */
}

.card {
    /* outline: 1px solid black; */
    width: 2.5in;
    height: 3.5in;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}
.card > img {
    width: 100%;
    height: 100%;
}

button {
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #60e612;
    outline: 1px solid #000

}
button:hover {
    /* outline: 1px solid #fff */
    outline: 2px solid #000

}
button.delete {
    background-color: #fa2a57;
}
.buttons {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    visibility: hidden;
    /* outline: 1px solid red; */
}

.card:hover {
    .buttons {visibility: visible;}
    .buttons > button {
        /* outline: 1px solid #000 */
    }
}